.Rhistory
*.pickle
*.p
*.png
2016/logs/**
2016/models/**
2016/tags/**
2016/AUCs/**
2016/coco-caption/**
2016/coco-caption
2016/tensorboardlogs/**
*.json
*.zip
2016/vocabulary.txt
test-video/**
train-video/**
test-video.zip
train-video.zip
